body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.kbd-navigation{
  background: #ddd;
}

.app {
  display: flex;
  flex-direction: row;
}

.app-info {
  margin-left: 20px;
}